# Unreal Engine specific ignores
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# Visual Studio / IDE specific ignores
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# OS specific ignores
.DS_Store
Thumbs.db